%td{colspan: 6}
  = form_for object, remote: true, html: {class: "form-horizontal"} do |f|

    = f.label :expense_date
    = f.date_field :expense_date, 'value' => object.expense_date.try(:strftime, '%m/%d/%Y'), 'data-provide' => 'datepicker', 'data-date-format' => 'mm/dd/yyyy', 'data-autoclose' => 'true'
    %br
    = f.label :purpose
    = f.text_field :purpose
    %br
    = f.label :expense_type_id
    = f.select :expense_type_id, options_for_select(find_expense_types.map{|et| [et.name,et.id]})
    %br
    = f.label :memo
    = f.text_area :memo
    %br
    = f.label :amount
    = f.text_field :amount
    %br
    = f.submit "Save", class: "btn btn-primary"
    %button.btn.btn-link.cancel Cancel

  %script
    $('input#expense_expense_date').datepicker({autoclose: true});